@charset "UTF-8";

*{

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#0B8C8C, #0B8C8C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(6, 60, 66, 0.486);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9AC59;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
}

h2 {
    color: #D9AC59;
}

p { 
    text-align: justify;
}